{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>List of students</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1 class="screen-1">List of Students</h1>
    <ul>
        {% for student in students %}
            <li class="email"><a href="{% url 'admin_borrowed_books' student.student_id %}">{{ student.username }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>
