{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Book Rent Extensions</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1>Extend Book Rental</h1>

    {% if book_rented %}
        <p>Book rental extended successfully. New return date: {{ book_rented.return_date }}</p>
        <p>You will pay ${{ book_rented.fee_amount }}</p>
    {% endif %}

<a href="{% url 'book_search' %}">Back to Book Search</a> <br>
<p>
    <a href="{% url 'admin_borrowed_books' user.student_id %}">Back to Borrowed book(s) for user {{ user.student_id }}</a>
</p>
</body>
</html>
